.a-primary,
.a-tertiary {
  color: var(--white);
  @media(hover) {
    &:hover {
      color: var(--light-green)
    }
  }
  &:active {
    color: var(--green)
  }
}
.a-tertiary {
  color: var(--color-nav-a-tertiary)
}
//////////////////////////
.a-secondary {
  color: var(--white);
  background-color: var(--green);
  border-radius: 4px;
  @media(hover) {
    &:hover {
      background-color: var(--light-green);
    }
  }
  &:active {
    background-color: var(--light-green);
  }
}
//////////////////////////
.a-quaternary {
  color: var(--green);
  @media(hover) {
    &:hover {
      color: var(--light-green)
    }
  }
  &:active {
    color: var(--green)
  }
}