[theme='light'] {
  --color-nav-a-tertiary: var(--black);
}
[theme='dark'] {
  --color-nav-a-tertiary: var(--white);
}
[device='lg'],
[device='md'],
[device='sm'],
[device='xs']  {
  --color-nav-a-tertiary: var(--white);
}