[theme='light'] {
  --color-nav-button-primary: var(--black);
  --color-nav-button-icon-primary: var(--black);
  --color-nav-button-sixfold: var(--black);
}

[theme='dark'] {
  --color-nav-button-primary: var(--white);
  --color-nav-button-icon-primary: var(--white);
  --color-nav-button-sixfold: var(--white);
}
[device='lg'],
[device='md'],
[device='sm'],
[device='xs'] {
  --color-nav-button-primary: var(--white);
  --color-nav-button-icon-primary: var(--white);
}